<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management System</title>
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <link rel="stylesheet" href="/css/loginmodule/popup.css">
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css">
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
</head>

<body onload="getManagerData()">
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/adminmenubar') %>
        <div class="rightbar">
          <%- include('../partials/navigation') %>
            <div class="bodypage">
              <div class="my-5">
                <div class="row1 my-5">
                  <div class="search float-start mx-3 ">
                    <input type="text" placeholder="Search Manager.." class="rounded py-2 px-3 " tabindex="1"
                      oninput="searchData(this.value)">
                  </div>
                  <div class="addemployee">
                    <input type="button" value="+  Add Manager" class="btn btn-dark float-end mx-2 my-2 px-3"
                      tabindex="2" onclick="openPopup()">
                  </div>
                </div>
              </div>
              <div style="margin-top: 130px;">
                <table class="table mx-2 text-center" id="man-table">

                </table>
              </div>

              <div id="pagination" class="pagenation-data">

              </div>
              <div class=" addregistrationcontainer" id="show-detail">
                <div id="manager-form">

                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="addregistrationcontainer" id="open-registration">
    <%- include("../loginmodule/registration")%>
  </div>
  </div>
  <script src="/js/adminmodule/fetchdatatable.js"></script>
  <script src="/js/adminmodule/viewdata.js"></script>
  <script src="/js/adminmodule/searchdata.js"></script>
  <script src="/js/adminmodule/deletedata.js"></script>
  <script src="/js/adminmodule/manager.js"></script>
  <script src="/js/loginmodule/popup.js"></script>

</body>

</html>